---
layout: default
title: New York City Hotel Photos | Sagamore Hotel NYC Gallery
meta_description: Enjoy a stunning visual tour of the Sagamore Miami Beach with our photo gallery, featuring stunning Manhattan accommodation and various New York City attractions.
permalink: /gallery/
meta_tags:
  robots:
---

<style>
  .img-responsive { max-width: 394px; }
</style>

<section class="container-fluid no-padding">
  <div class="page-banner" style="background-image: url('/assets/images/gallery/gallery-banner.jpg')">
    {% regionblock page_title, type:header %}
      <h1 class="page-title" tabindex="0">Visual Tour</h1>
    {% endregionblock %}
  </div>
</section>

<section class="gallery-wrapper">
  <div class="gallery-listing">
    {% assign categories = site.data._galleries | sort: sort_order %}
    <div class="container">
      <ul class="gallery-nav">
        <li><a href="javascript:void(0);" class="filter active" data-filter="all">All</a></li>
        {% for category in categories %}
          {% assign catname = category[0] %}
          <li><a href="javascript:void(0);" class="filter" data-filter="{{ catname }}">{{ site.data._galleries[catname].name  }}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% assign categories = site.data._galleries %}
    <div class="container" id="lightgallery">
      {% for category in categories %}
        {% assign catname = category[0] %}
        {% for photo in site.data._galleries[catname].photos %}
          <div class="image col-md-4 col-sm-4 fancybox" data-filter="{{ catname }}" data-src="{% if photo.url_large %}{{ photo.url_large }}{% else %}{{ photo.url }}{% endif %}" data-exthumbimage="{% if photo.url_medium %}{{ photo.url_medium }}{% else %}{{ photo.url }}{% endif %}">
            <div class="img-block bg-styles" style="background-image:url('{{ photo.url_small }}');"></div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>

  </div>
</section>
