---
layout: default
title: Midtown Manhattan Hotel Offers | Manhattan Hotel Specials
meta_description: Looking for Midtown Manhattan Hotel Offers or Packages? At Stewart Hotel NYC we've got a variety of excellent deals, only available on our Official Website!
permalink: /offer/
meta_tags:
  robots: noindex, follow
---

<section rt3-special-rates="offers">

  <input type="hidden" id="offerId" value="{{ page.code }}">
  <input type="hidden" id="offerList" value="[[ offers.special_rates ]]">

  <section>
    <div class="container-fluid no-padding">
      <div class="page-banner" style="background-image: url('/assets/images/offers/buy-three-get-four-banner.jpg')">
        <h1 class="page-title">Special Offers</h1>
      </div>
    </div>
  </section>

  <section ng-controller="offerDetail">
    <ul class="gallery-nav">
      <li ng-show="prevOfferName"><a ng-click="reloadPage" ng-href="/offer/#[[prevOfferName | formatNameForLink]]">Previous Offer</a></li>
      <li><a ng-href="/offer/#[[offers.sRdetail.rate_plan_name | formatNameForLink]]" class="active">[[ offers.sRdetail.rate_plan_name ]]</span></a></li>
      <li ng-show="nextOfferName"><a ng-click="reloadPage" ng-href="/offer/#[[nextOfferName | formatNameForLink]]">Next Offer</a></li>
    </ul>
  </section>

  <section class="rd-row-1">
    <div id="rd-carousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <div class="item" style="background-image:url('[[photo.yankee_large]]');" ng-class="{'active': $index == 0}" ng-repeat="photo in offers.sRdetail.images">
          <div class="rdc-car-con">
            <h3 class="sub-title">Special Offer</h3>
            <h2 class="title">[[ offers.sRdetail.rate_plan_name | renderHTMLCorrectly ]]</h2>
            <div><a class="button-common-2" ng-href="[[offers.sRdetail.promo_url]]" target="_blank">Book this offer</a></div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="r-info">
    <div class="container no-padding">

      <div class="col-md-6 no-padding -left off-det-cont">
        <div class="con-1 off-det-pd">
          <h2 class="title">All in the details</h2>
          <h3 class="sub-title off-det"> Book in advance for best offers</h3>
          <div class="des-wrap off-det-text">
            <p class="des" ng-bind-html="offers.sRdetail.long_description | renderHTMLCorrectly"></p>
            <p class="des">Need assistance? Our dedicated reservations team is available around the clock:</p>
            <p class="des">Stewart Hotel | <a href="tel:1-212-563-1800">1-212-563-1800</a> or <a href="mailto:info@stewarthotel.com">info@stewarthotel.com</a></p>
          </div>
          <div class="spacing"><a id="tracking_offer_booknow" class="button-common-2" ng-href="[[offers.sRdetail.promo_url]]" target="_blank">Book this offer</a></div>
          <div class="spacing"><a id="tracking_offer_contactus" class="button-common-2" href="mailto:info@stewarthotel.com">Contact Us</a></div>
        </div>
        <!-- <div class="con-2"><img src="/assets/images/offers/od-pic-1.jpg" alt=""></div> -->
      </div>

      <div class="col-md-6 no-padding -right">

        <div class="con-3">
          <img src="/assets/images/rooms/guest-room-con-3.jpg" alt="Guest Room">
          <div class="text">
            <h2 class="title">Take a visual Journey</h2>
            <div class="spacing"><a class="button-common-2 -white" href="/gallery/">View Gallery</a></div>
          </div>
        </div>

        <!-- <div class="con-4">
          <div class="col-sm-6 con-4-2">
            <div class="add-2">Offer<span class="nl">Features</span></div>
            <div class="add-1">ENJOY THE FOLLOWING<span class="nl">PRIVILEGES</span></div>
          </div>
          <div class="col-sm-6 con-4-1">
            <ul class="list">
              <li>Business workspace with desk</li>
              <li>Two phone lines with voicemail</li>
              <li>Wireless and high-speed internet access</li>
              <li>Flat-screen HDTV's with web browser</li>
              <li>iHome docking station</li>
              <li>Comfort Zone eco-friendly bath amenities</li>
            </ul>
          </div>
          <div class="col-sm-6 con-4-2">
            <div class="add-1">ENJOY THE FOLLOWING<span class="nl">PRIVILEGES</span></div>
            <div class="add-2">Offer<span class="nl">Features</span></div>
          </div>
        </div> -->

      </div>

    </div>
    <div class="container no-padding">
      <img class="img-responsive f-w" src="/assets/images/offers/od-pic-1.jpg" alt="Offers">
    </div>
  </section>

  {% include offers-carousel.html %}

  <section class="loc-cta" style="background-image: url('/assets/images/offers/offers-cta.jpg');">
    <div class="container-fluid no-padding">
      <div class="cta">
        <h3>MODERN MANHATTAN</h3>
        <div class="cta-logo"><a href="/"><img src="/assets/images/logo.svg" alt="The Stewart Hotel"/></a></div>
        <div class="btn-holder text-center"><a href="https://stewarthotelnyc.reztrip.com/classic/en/searches/592d7885ac7fa973d0d5a55a/hotels/NYCSTW/rooms?action=show&controller=landings#?category=" target="_blank" class="button-common">Book Your Stay</a></div>
      </div>
    </div>
  </section>

</section>
