---
layout: default
title: Sitemap
meta_description:
permalink: /sitemap/
meta_tags:
  robots: noindex, follow
sitemap:
  exclude: true  
---

{% comment %}

  Name:

    Sitemap Page

  Description:

    Dynamically generated content from navigation.yml file.

  Usage:
    {% assign links = site.data.navigation.main %}

    <ul>
      {% for link in links %}
        <li>
          <a href="{{ link.url | absolute_url }}">{{ link.title }}</a>
        </li>
      {% endfor %}
    </ul>

    {% endcomment %}

    <section>
      <div class="container-fluid no-padding">
        <div class="page-banner static" style="background-image: url('/assets/images/static/banner.jpg')">
          <h1 class="page-title" tabindex="0">Sitemap</h1>
        </div>
      </div>
    </section>

    <div class="space">
      <h2 class="title-error">sitemap</h2>
      <ul class="container site">
        {% for link in site.data.navigation.main %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
