---
layout: default
title: Sagamore South Beach
meta_description: Experience the Sagamore Miami Beach, formerly known as the Manhattan
  NYC Hotel. Based in the heart of Manhattan, get the best rates here on our Official
  Website!
meta_tags:
  robots:
published_localized:
  en: true
title_localized:
  en: Miami Beach Hotels | The Sagamore South Beach Hotel
meta_description_localized:
  en: Situated within the historic Miami Beach Art Deco District, Sagamore South Beach
    offers 93 rooms, two-story bungalows and spacious oceanfront penthouses.
layout_localized:
  en: default
label: Homepage
permalink_localized:
  en: "/"

---

<section class="home-banner-wrap">
  <div id="homeCarousel" class="carousel slide">

    {% assign slider = site.data._models.homepage_slider | sort: "sort_order" %}

    <ol class="carousel-indicators">
      {% for slide in slider %}
      <li data-target="#homeCarousel" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %} active {% endif %}" ></li>
      {% endfor %}
    </ol>

    <div class="carousel-inner" role="listbox">
      {% for slide in slider %}
      <div class="item{% if forloop.first %} active {% endif %}" role="option">

        <img src="{{ slide.image.url }}" alt="{{ slide.image.alt }}">

        <div class="carousel-caption transparent-bg">

          <div class="caption-inner">
            <p tabindex="0"><span>{{ slide.title }}</span></p>
            <a class="button-common" href="{{ slide.button_link }}/">{{ slide.button_text }}</a>
          </div>

        </div>

      </div>
      {% endfor %}
    </div>

    <a class="left carousel-control" href="#homeCarousel"  data-slide="prev" title="Previous"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
    <a class="right carousel-control" href="#homeCarousel"  data-slide="next" title="Next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>

  </div>
</section>

<section class="animatedParent">
  <div class="container-fluid no-padding no-margin wow fadeInUp">
    <div class="row no-gutters">

      <div class="col-sm-5 no-padding hidden-xs">
        {% regionblock welcome_image, type:image %}
        <img class="width-full" src="/assets/images/intro-img.jpg" alt="The Sagamore Miami Beach Hotel"> {% endregionblock %}
      </div>

      <div class="col-sm-7 no-padding p-relative">
        <div class="intro-content">
          <div tabindex="0">
          {% regionblock welcome_title, type:header %}
          <h1>Welcome to Sagamore Miami Beach</h1>
          {% endregionblock %}
          </div>
          <div tabindex="0">
          {% regionblock welcome_subtitle, type:header %}
          <h5>Proximity at its Best</h5> {% endregionblock %}
          </div>
          <div tabindex="0">
          {% regionblock welcome_body_text, type:text %}
          <p>Just right for those who love the thrill of Broadway life and live performances, Sagamore Miami Beach Hotel captures the spirit of a buzzing pre-show Broadway theater. Guests gather under high ceilings and flow between its New York-inspired lobby, stunning ballroom, <a title="Manhattan event space" href="/weddings-events/">designer event space</a> and, <a title="Spacious Suites in NYC" href="/rooms/">spacious suites</a>.</p>
          {% endregionblock %}
          </div>
          {% regionblock welcome_button, type:text %}
          <a class="btn btn-lg btn-primary button-home" href="/about/">Discover More</a>
          {% endregionblock %}
        </div>
      </div>

    </div>
  </div>
</section>

<section class="animatedParent">
  <div class="container-fluid p-l-r-5 m-t-20 wow fadeInUp">
    <div class="row no-gutters">

      <div class="col-sm-6 p-r-10">
        <div class="event-spaces">
          {% regionblock amenities_left_image, type:image %}
          <img src="/assets/images/event-spaces.jpg" alt="Event Spaces">
          {% endregionblock %}
          <div class="content">
            {% regionblock amenities_left_title, type:header %}
            <h4 tabindex="0">Unique Event Spaces</h4>
            {% endregionblock %}
            {% regionblock amenities_left_subtitle, type:header %}
            <h5 tabindex="0">World Class Events</h5>
            {% endregionblock %}
            {% regionblock amenities_left_link, type:text %}
            <a href="/weddings-events/" class="button-common-2">DISCOVER MORE</a>
            {% endregionblock %}
          </div>
        </div>
      </div>

      <div class="col-sm-6 p-l-10 m-m-t-20">
        <div class="event-spaces">
          {% regionblock amenities_right_image, type:image %}
          <img src="/assets/images/culinary-delight.jpg" alt="Culinary Delight"> {% endregionblock %}
          <div class="content">
            {% regionblock amenities_right_title, type:header %}
            <h4 tabindex="0">The New York Experience</h4>
            {% endregionblock %}
            {% regionblock amenities_right_subtitle, type:header %}
            <h5 tabindex="0">Expert Recommendations</h5>
            {% endregionblock %}
            {% regionblock amenities_right_link, type:text %}
            <a href="/dine-drink/" class="button-common-2">DISCOVER MORE</a>
            {% endregionblock %}
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="rooms-section">
  <div class="container-fluid no-padding">

    <div class="col-md-4 no-padding">
      <div class="new-caption-area" id="roomscroll" class="carousel slide" data-ride="carousel">

        <p tabindex="0">DISCOVER EXCITING<br>SPECIAL OFFERS</p>

        <div class="carousel-controls">
          <a class="left nav-control" href="#rooms-carousel"  data-slide="prev" title="Previous"></a>
          <a class="right nav-control" href="#rooms-carousel"  data-slide="next" title="Next"></a>
        </div>

        <div class="carousel-inner">
          {% assign offers = site.data._models.offers | sort: "order" %}
          {% for singleoffer in offers %}
            <div class="item {% if forloop.first %} active {% endif %}" >
              <h3 tabindex="0">{{singleoffer.title}}</h3>
              <div class="links">
                <a href="/offers/{{singleoffer.url_friendly_name}}/" class="button-common-2">VIEW THIS Offer</a><br>
                <a href="/offers/" class="button-common-2">VIEW ALL Offers</a>
              </div>
            </div>
          {% endfor %}
        </div>

      </div>
    </div>

    <div class="col-md-8 no-padding">
      <div class="rooms-carousel home-special-carousel">
        <div id="rooms-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner m-t-20">
            {% for singleoffer in offers %}
              <div class="item {% if forloop.index == 1 %} active {% endif %}">
                <img alt="{{singleoffer.title}}" src="{{singleoffer.banner_image.url}}" class="width-full">
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="animatedParent">
  <div id="rooms-carousel-home" class="carousel rooms-carousel slide wow fadeInUp" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      {% assign rooms = site.data._models.rooms | sort: "order" %}
      {% for singleroom in rooms | limit: 5 %}

        <div class="item {% if forloop.first %} active {% endif %}">

          <img src="{{singleroom.banner_image.url}}" alt="{{singleroom.title}}">

          <div class="container">
            <div class="carousel-caption">
              <h3 tabindex="0">{{singleroom.title}}</h3>
              <p>{{singleroom.short_info}}</p>
              <p><a class="btn btn-lg btn-primary button-home" href="/rooms/{{singleroom.url_friendly_name}}/">View This Room</a></p>
            </div>
          </div>

        </div>
      {% endfor %}
      <ol class="carousel-indicators">
        {% assign rooms = site.data._models.rooms | sort: "order" %}
        {% for singleroom in rooms | limit: 5 %}
          <li data-target="#rooms-carousel-home" data-slide-to="{{singleroom.index0}}">{{singleroom.title}}</li>
        {% endfor %}
      </ol>

      <a class="left carousel-control" href="#rooms-carousel-home"  data-slide="prev" title="Previous"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="sr-only">Previous</span></a>
      <a class="right carousel-control" href="#rooms-carousel-home"  data-slide="next" title="Next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a>

    </div>
  </div>
</section>

<section class="animatedParent">
  <div class="container-fluid no-padding m-20 wow fadeInUp">

    <div class="row no-gutters">

      <div class="col-md-6 p-l-0 p-r-10">
        <div class="intro-content city">
          {% regionblock location_title, type:header %}
          <h3 tabindex="0">Welcome to<br>The Big Apple</h3>
          {% endregionblock %}
          {% regionblock location_subtitle, type:header %}
          <h5 tabindex="0">The City That Never Sleeps</h5>
          {% endregionblock %}
          <div tabindex="0">
          {% regionblock location_body_text, type:text %}
          <p>Sagamore Miami Beach Hotel's high-energy <a title="Hotel near Times Square" href="/location/">Midtown location</a> puts you at the crossroads of the city's most iconic neighborhood districts—across from Pennsylvania Station and Madison Square Garden. You'll be staying in <a title="Sagamore Miami Beach Hotel location in NYC" href="/location/">North Chelsea</a>, just steps from Times Square and Fifth Avenue shopping.</p>
          <p>1671 Collins Ave Miami Beach, FL 33139</p>
          {% endregionblock %}
          </div>
          {% regionblock location_button, type:text %}
          <a class="btn btn-lg btn-primary button-home" href="/sagamore-art/">Discover More</a>
          {% endregionblock %}
        </div>
      </div>

      <div class="col-md-6 p-r-0 p-l-10 home-map">
        <div class="map-holder">
          <div class="map-inner" id="map"></div>
        </div>
      </div>

    </div>
  </div>
</section>
