<header class="site-header container-fluid">
  <div class="row top">
    <div class="logo">
      <a href="/">
        <img src="/assets/images/logo.png" alt="Sagamore South Beach" class="normal">
      </a>
    </div>
    <div class="booknow">
      <a class="btn-header" href="https://www.myhotelreservation.net/b/hamiasag/HAMIASAG/" target="_blank">
        Book Now
      </a>
    </div>
  </div>
  <div class="row menu-toggle">
    <i class="fa fa-bars"></i>
  </div>
  {% include nav-header.html %}
</header>
{% include special-banner-bar.html %}
