<section class="instagram-feed animatedParent">
  <div class="container-fluid no-padding wow fadeInUp">
    <div class="row no-gutters">
      <h3><a href="https://www.instagram.com/explore/tags/StewartStyleNYC/" target="_blank" title="#StewartStyleNYC">#StewartStyleNYC</a></h3>
      <h5><a href="https://www.instagram.com/stewarthotelnyc/" target="_blank" title="@stewarthotelnyc">{% if page.url contains '/es/' %}Instagram{% elsif page.url contains '/fr/' %}Notre Instagram{% elsif page.url contains '/zh/' %}我们的 Instagram {% elsif page.url contains '/pt/' %}Nosso Instagram{% else %}Our Instagram{% endif %}</a></h5>
      <ul id="instafeed"></ul>
    </div>
  </div>
</section>
