<section id="mobileRedirect" class="mobile-redirect-popover modal" data-backdrop="static">
    <div class="wrapper" >
        <h5>Welcome to</h5>
        <img src="/assets/images/logo-black.png" alt="The Sagamore Miami Beach Hotel">
        <a class="btn btn-lg btn-primary button-home btn-inverse" href="https://www.myhotelreservation.net/b/hamiasag/HAMIASAG/">Book A Room Now</a>
        <a class="btn btn-lg btn-primary button-home" href="javascript:void(0);" data-dismiss="modal">Enter Hotel Website</a>
    </div>
    <div class="popmap" id="popmap"></div>
</section>
