<section id="mobileRedirect" class="mobile-redirect-popover modal" data-backdrop="static">
    <div class="wrapper" >
        <h5>{% if page.url contains '/pt/' %}Bem-vindo ao{% elsif page.url contains '/zh/' %}欢迎光临{% else %}Welcome to{% endif %}</h5>
        <img src="/assets/images/logo-black.svg" alt="The Stewart Hotel">
        <h4 ng-show="browser.toNightsRate">{% if page.url contains '/pt/' %}Tarifa de hoje:{% elsif page.url contains '/zh/' %}今晚房价：{% else %}Tonight's Rate: {% endif %}<span>[[browser.toNightsRate]]</span></h4>
        <a class="btn btn-lg btn-primary button-home btn-inverse" href="https://stewarthotelnyc.reztrip.com/mobile/">{% if page.url contains '/pt/' %}Reserve um quarto agora{% elsif page.url contains '/zh/' %}立即预订客房{% else %}Book A Room Now{% endif %}</a>
        <a class="btn btn-lg btn-primary button-home" href="javascript:void(0);" data-dismiss="modal">{% if page.url contains '/pt/' %}Acesse o website do hotel{% elsif page.url contains '/zh/' %}进入酒店网站{% else %}Enter Hotel Website{% endif %}</a>
    </div>
    <div class="popmap" id="popmap"></div>
</section>
