<section class="rooms-section" rt3-special-rates="offers">
  <div class="container">

    <div class="col-md-4 no-padding">
      <div class="new-caption-area" id="offerscroll" class="carousel slide" data-ride="carousel">

        <p>{% if page.url contains '/pt/' %}VISUALIZE MAIS OFERTAS ESPECIAIS LUXUOSAS{% elsif page.url contains '/zh/' %}查看更多精彩特别优惠{% else %}VIEW MORE LUXURIOUS SPECIAL OFFERS{% endif %}</p>

        <div class="carousel-controls">
          <a class="left nav-control" href="#offers-carousel"  data-slide="prev" title="Previous"></a>
          <a class="right nav-control" href="#offers-carousel"  data-slide="next" title="Next"></a>
        </div>

        <div class="carousel-inner">
          <div class="item" ng-repeat="offer in offers.special_rates" ng-class='{active:$first}'>

            <h3 ng-bind-html="offer.rate_plan_name | renderHTMLCorrectly"></h3>

            <div class="links">
              <a ng-href="{% if page.url contains '/pt/' %}/pt{% elsif page.url contains '/zh/' %}/zh{% endif %}/offer/#[[offer.rate_plan_code ]]" class="button-common-2">{% if page.url contains '/pt/' %}Visualizar esta oferta{% elsif page.url contains '/zh/' %}查看此优惠{% else %}View this Offer{% endif %}</a><br>
              <a href="{% if page.url contains '/pt/' %}/pt{% elsif page.url contains '/zh/' %}/zh{% endif %}/offers/" class="button-common-2">{% if page.url contains '/pt/' %}Visualizar todas as ofertas{% elsif page.url contains '/zh/' %}查看所有优惠{% else %}View all Offers{% endif %}</a>
            </div>

          </div>
        </div>

      </div>
    </div>

    <div class="col-md-8 no-padding">
      <div class="rooms-carousel">
        <div id="offers-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item" ng-repeat="offer in offers.special_rates" ng-class='{active:$first}'>
              <img alt="Special Offers" ng-src="[[offer.lead_photo_url.yankee_large]]" class="width-full">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
