<section class="rooms-section">
  <div class="container">
    <div class="col-md-4 no-padding">
      <div class="new-caption-area" id="offerscroll" class="carousel slide" data-ride="carousel">
        <p>VIEW MORE LUXURIOUS SPECIAL OFFERS</p>
        <div class="carousel-controls">
          <a class="left nav-control" href="#offers-carousel" data-slide="prev" title="Previous"></a>
          <a class="right nav-control" href="#offers-carousel" data-slide="next" title="Next"></a>
        </div>
        <div class="carousel-inner ">
          {% assign offers = site.data._models.offers | sort: "order" %}
          {% for singleoffer in offers %}
            <div class="item {% if forloop.first %} active {% endif %}" >
              <h3>{{singleoffer.title}}</h3>
              <div class="links">
                <a href="/offers/{{singleroom.url_friendly_name}}" class="button-common-2">VIEW THIS Offer</a><br>
                <a href="/offers/" class="button-common-2">VIEW ALL Offers</a>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>

    <div class="col-md-8 no-padding">
      <div class="rooms-carousel">
        <div id="offers-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for singleoffer in offers %}
              <div class="item {% if forloop.index == 1 %} active {% endif %}">
                <img alt="{{singleoffer.title}}" src="{{singleoffer.banner_image.url}}" class="width-full">
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
