<section class="container save-the-children-include">
  <div class="row">
    <div class="col-md-3" tabindex="0">
      <img src="/assets/images/save-the-children-logo.png" alt="Save The Children">
    </div>
    
    <div class="col-md-6">
      <div class="description-center">
        <h5 tabindex="0">
          DONATE TODAY & MAKE A DIFFERENCE
        </h5>
        <p tabindex="0">
          100% of your donation benefits Save The Children. Thank you for your support.
        </p>
      </div>
    </div>

    <div class="col-md-3 btn-holder">
      <a href="/charities/" rel="nofollow" class="btn btn-lg btn-primary button-home">MORE INFO</a>
    </div>

  </div>
</section>
