<!-- begin SEO -->
{% if site.url %}
  {% assign seo_url = site.url | append: site.baseurl %}
{% endif %}

{% if page.seo_title %}
{% assign seo_title = page.seo_title | normalize_whitespace | escape_once %}

{% elsif page.title %}
  {% assign seo_title = page.title | normalize_whitespace | escape_once %}

{% else %}
  {% assign seo_title = site.title | append: " " | append: site.title_separator | append: " " | append: site.name %}
{% endif %}

{% if site.url %}
  {% assign canonical_url = page.url | replace: "index.html", "" | prepend: site.url %}
{% endif %}

<title>{{ seo_title }}</title>

{% if page.seo_description %}
{% assign seo_description = page.seo_description | default: site.description %}
{% elsif page.meta_description %}
{% assign seo_description = page.meta_description | default: site.description %}
{% endif %}

{% if seo_description %}
  {% assign seo_description = seo_description | markdownify | strip_html | strip_newlines | normalize_whitespace | escape_once %}
{% endif %}

<meta name="description" content="{{ seo_description }}">
<meta property="og:description" content="{{ seo_description }}">

{% assign seo_author = page.author | default: page.author[0] | default: site.data.authors.primary.name %}
{% if seo_author %}
  {% if seo_author.twitter %}
    {% assign seo_author_twitter = seo_author.twitter %}
  {% else %}
    {% if site.data.authors.primary and site.data.authors.primary[seo_author] %}
      {% assign seo_author_twitter = site.data.authors.primary[seo_author].twitter  %}
    {% else %}
      {% assign seo_author_twitter = seo_author  %}
    {% endif %}
  {% endif %}
  {% assign seo_author_twitter = seo_author_twitter | replace: "@", "" %}
{% endif %}


{% if page.url contains '/es/' %}
  {% assign active_lang = 'es' %}
{% elsif page.url contains '/fr/' %}
  {% assign active_lang = 'fr' %}
{% elsif page.url contains '/pt/' %}
  {% assign active_lang = 'pt-br' %}
{% elsif page.url contains '/zh/' %}
  {% assign active_lang = 'zh-cn' %}
{% else %}
  {% assign active_lang = 'en' %}
{% endif %}

<meta property="og:locale" content="{{ active_lang | replace: "-", "_" | default: "en_US" }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ page.title | default: site.title | escape_once }}">

{% if seo_url %}
  <link rel="canonical" href="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
  <meta property="og:url" content="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
{% endif %}

{% if site.data.social.twitter.username %}
  <meta name="twitter:site" content="@{{ site.data.social.twitter.username | replace: "@", "" }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title | escape_once }}">
  <meta name="twitter:description" content="{{ seo_description }}">
  <meta name="twitter:url" content="{{ canonical_url }}">
  <meta name="twitter:card" content="summary">

  {% if site.data.social.og_image %}
    <meta name="twitter:image" content="{{ site.data.social.og_image | absolute_url }}">
  {% endif %}

  {% if seo_author_twitter %}
    <meta name="twitter:creator" content="@{{ seo_author_twitter }}">
  {% endif %}
{% endif %}

{% if site.data.social.facebook %}
  {% if site.data.social.facebook.publisher %}
    <meta property="article:publisher" content="{{ site.data.social.facebook.publisher }}">
  {% endif %}

  {% if site.data.social.facebook.app_id %}
    <meta property="fb:app_id" content="{{ site.data.social.facebook.app_id }}">
  {% endif %}
{% endif %}

{% if site.data.social.og_image %}
  <meta property="og:image" content="{% if site.data.social.og_image contains "://" %}{{ site.data.social.og_image }}{% else %}{{ site.data.social.og_image | absolute_url }}{% endif %}">
{% endif %}

{% if page.date %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}

{% if site.data.social.og_image %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": {{ seo_url | jsonify }},
      "logo": {{ site.data.social.og_image | absolute_url | jsonify }}
    }
  </script>
{% endif %}

{% if site.social %}
  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "{% if site.social.type %}{{ site.social.type }}{% else %}Person{% endif %}",
      "name" : "{{ site.social.name | default: site.name }}",
      "url" : {{ seo_url | jsonify }},
      "sameAs" : {{ site.social.links | jsonify }}
    }
  </script>
{% endif %}

{% if site.data.verification.google_site_verification %}
  <meta name="google-site-verification" content="{{ site.data.verification.google_site_verification }}">
{% endif %}
{% if site.data.verification.bing_site_verification %}
  <meta name="msvalidate.01" content="{{ site.data.verification.bing_site_verification }}">
{% endif %}
{% if site.data.verification.alexa_site_verification %}
  <meta name="alexaVerifyID" content="{{ site.data.verification.alexa_site_verification }}">
{% endif %}
{% if site.data.verification.yandex_site_verification %}
  <meta name="yandex-verification" content="{{ site.data.verification..yandex_site_verification }}">
{% endif %}

<meta http-equiv="Content-Language" content="en">


{% if page.meta_tags.robots %}
  <meta name="robots" content="{{ page.meta_tags.robots }}">
{% endif %}

<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "Organization",
  "name": "The Sagamore Hotel Miami Beach",
  "url": "https://www.sagamoresouthbeach.com/",
  "Logo": "https://www.sagamoresouthbeach.com/assets/images/logo.png",
  "description": "Situated within the historic Miami Beach Art Deco District, Sagamore South Beach offers 93 rooms, two-story bungalows and spacious oceanfront penthouses.",
     "sameAs": [
    "https://www.facebook.com/Sagamorehotel/"

  ]
  }
}
</script>
<script type='application/ld+json'>
{
  "@context": "http://schema.org",
  "@type": "Hotel",
  "image": "https://cdn.traveltripper.io/site-assets/192_936_21239/media/2018-11-22-073012/large_Kosher_Events.jpg",
  "starRating" : { "@type" : "Rating",
                       "ratingValue" : "4"},
  "priceRange" : "from $150",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "1671 Collins Ave",
    "addressLocality": "Miami Beach",
    "addressRegion": "Florida",
    "postalCode": "FL 33139",
    "addressCountry": "United States"
   },
  "description": "Situated within the historic Miami Beach Art Deco District, Sagamore South Beach offers 93 rooms, two-story bungalows and spacious oceanfront penthouses.",
  "name": "The Sagamore Hotel Miami Beach",
  "alternateName":"The Sagamore Hotel South Beach",
  "telephone": "(305) 535-8088",
  "email": "reservations@sagamorehotel.com",
  "url": "https://www.sagamoresouthbeach.com/",
   "sameAs" : ["https://www.facebook.com/Sagamorehotel/","https://twitter.com/sagamorehotel/","https://www.instagram.com/sagamorehotel/","https://www.tripadvisor.com/Hotel_Review-g34439-d240165-Reviews-The_Sagamore_Hotel-Miami_Beach_Florida.html","https://www.booking.com/hotel/us/the-sagamore.html"]
    },
   "https://www.google.com/maps/place/The+Sagamore+Hotel+Miami+Beach/@25.7916268,-80.1315017,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b49ba7905cf5:0x9e7f07ea65cee27f!8m2!3d25.791622!4d-80.129313"
 },

  "potentialAction":{
   "@type":"ReserveAction",
   "target":{
   "@type":"EntryPoint",
   "urlTemplate":"https://www.myhotelreservation.net/b/hamiasag/HAMIASAG/?_ga=2.125591306.1298463290.1545031761-671341408.1544076295":[
   "http://schema.org/DesktopWebPlatform",
   "http://schema.org/IOSPlatform",
    "http://schema.org/AndroidPlatform"
]
},
   "result":{
   "@type":"LodgingReservation",
   "name":"Book Now"
  }
 }
}
</script>
<!-- end SEO -->
