---
layout: default
title: Blog Posts
meta_description:
permalink: /blog/
meta_tags:
robots:
sitemap:
exclude: true
---

<section class="container-fluid no-padding">
  <div class="category-banner" style="background-image:url('/assets/images/rooms/rooms-banner.jpg');">
   <div class="category-banner__details">
      {% regionblock page_title, type:header %}
      <h1 tabindex="0">Blog</h1>
      {% endregionblock %}
      {% regionblock page_detail, type: text %}
       <p>Nunc lobortis ipsum at ex egestas faucibus. Orci varius natoque penatibus et magnis dis parturient montes ridiculus mus. Mauris eget risus magna.</p>
      {% endregionblock %}
    </div>
  </div>
</section>
{% assign posts = site.data._models.blog | sort: 'date' | reverse %}
<div class="container">
  <div class="col-md-8 col-lg-9">
    <div class="all-posts">
      {% for post in posts | limit: 2 %}
      <div class="blog-post wow fadeIn">
        {% if post.image.url %}
        <a href="/blog/{{ post.url_friendly_name }}/" title="{{ post.title }}">
          <figure>
            <img src="{{ post.image.url_large }}" alt="{{ post.image.alt }}">
          </figure>
        </a>
        {% endif %}

        <h2><a href="/blog/{{ post.url_friendly_name }}/">{{ post.title }}</a></h2>

        <h4 class="date">{% if post.category %}<a href="/blog/category/{{ post.category.url_friendly_name }}/"> {{ post.category.title }}</a> <span></span>{% endif %} {{ post.date | date: '%B %d, %Y'}}</h4>

        <p>
          {{ post.post_content | strip_html | truncatewords: 40 | remove: "<p>" | remove: "</p>" }}
        </p>
        <div class="cta-block">
          <div class="social-links">
            <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}/blog/{{ post.url_friendly_name }}/&via={{ site.data.social.twitter.username }}&related={{ site.data.social.twitter.username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://facebook.com/sharer.php?u={{ site.url }}/blog/{{ post.url_friendly_name }}/" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-f"></i></a>
            <a href="https://plus.google.com/share?url={{ site.url }}/blog/{{ post.url_friendly_name }}/" rel="nofollow" target="_blank" title="Share on Google+"><i class="fa fa-google-plus"></i></a>
          </div>
          <div class="button">
            <a class="btn btn-lg btn-primary button-home" href="/blog/{{ post.url_friendly_name }}/">Read More</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="infinite-spinner">
      <img src="/assets/images/loading.gif" alt="loading..">
    </div>
  </div>
  <div class="col-md-4 col-lg-3">
    {% include blog-aside.html %}
  </div>
</div>
