/* @import must be at top of file, otherwise CSS will not work */
@import url('//hello.myfonts.net/count/32a96c');

@font-face {
  font-family: 'FuturaStd-Bold';
  src: url('/assets/font/32A96C_0_0.eot');
  src: url('/assets/font/32A96C_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/font/32A96C_0_0.woff2') format('woff2'),url('/assets/font/32A96C_0_0.woff') format('woff'),url('/assets/font/32A96C_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaStd-Book';
  src: url('/assets/font/32A96C_3_0.eot');
  src: url('/assets/font/32A96C_3_0.eot?#iefix') format('embedded-opentype'),url('/assets/font/32A96C_3_0.woff2') format('woff2'),url('/assets/font/32A96C_3_0.woff') format('woff'),url('/assets/font/32A96C_3_0.ttf') format('truetype');
}

@font-face {
  font-family: 'FuturaStd-Light';
  src: url('/assets/font/32A96C_5_0.eot');
  src: url('/assets/font/32A96C_5_0.eot?#iefix') format('embedded-opentype'),url('/assets/font/32A96C_5_0.woff2') format('woff2'),url('/assets/font/32A96C_5_0.woff') format('woff'),url('/assets/font/32A96C_5_0.ttf') format('truetype');
}
