// Our variables
$base-font-family: 'FuturaStd-Light', Helvetica, Arial, sans-serif;
$base-font-size: 14px;
$base-font-weight: 400;
$small-font-size: $base-font-size * .875;
$base-line-height: 1.5;

$main-font-bold: 'FuturaStd-Bold';
$main-font-book: 'FuturaStd-Book';
$main-font-light: 'FuturaStd-Light';
$main-font-medium: 'FuturaStd-Book';

$spacing-unit: 30px;

$bg-white: #fff;
$bg-black: #000;
$bg-blue-1: #c5a900;
$bg-blue-2: #1086b4;
$bg-blue-3: #1f4552;
$bg-blue-4: #0f86b4;
$bg-ash-1: #d7d7d7;
$bg-ash-2: #efefef;
$bg-ash-3: #fbf8ef;
$bg-ash-4: #333;
$nav-active: #837100;

$tc-white: #fff;
$tc-black: #000;
$tc-light-blue: #1086b4;
$tc-dark-blue: #1f4552;
$tc-light-blue-1: #3a9dc4;
$tc-ash-1: #333;
$tc-ash-2: #434343;
$tc-ash-3: #606060;
$tc-ash-4: #444;

$text-color: #747474;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #232525;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

$phone-max: 479px;
