.gallery-wrapper {
  padding: 0;
  @media (min-width: $screen-md-min) {
    padding: 0;
  }

  .gallery-listing {
    padding: 0 0 10px;
    @media (min-width: $screen-md-min) {
      padding: 0 0 30px;
    }

  }

  .button-common {
    padding: 8px 19px;
    font-family: $main-font-medium;
    font-size: 12px;
    color: #232525;
    letter-spacing: 4px;
    border: solid 1px #232525;
    transition: all .4s;

    &:hover {
      color: #fff;
      background-color: #232525;
    }
  }

  .gallery-wrap {
    margin: 0 auto;
    @media (min-width: $screen-lg-min) {
      padding-right: 0;
      padding-left: 0;
    }

    ul {
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      list-style: none;
    }

    .item {
      display: inline-block;
      float: left;
      margin: 0 0 30px;
    }

    .item+.item {
      @media (min-width: $screen-sm-min) {
        margin: 0;
      }
    }
  }

}

.gallery-nav {
  margin: 0;
  padding: 20px 0 25px;
  font-family: $main-font-book;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  list-style: none;

  li {
    position: relative;
    display: inline-block;
    @media (min-width: $screen-sm-min) {
      padding: 0 35px 0 0;
      letter-spacing: 2px;

      &:after {
        position: absolute;
        top: 50%;
        right: 0;
        width: 32px;
        height: 1px;
        content: '';
        background-color: #232525;
      }

      &:last-child {
        padding-right: 0;

        &:after {
          content: normal;
        }
      }
    }

    a {
      display: inline-block;
      padding: 10px 10px 10px 8px;
      color: #232525;
      text-decoration: none;

      &.active {
        font-family: $main-font-medium;
        color: #232525;
        text-decoration: none;

      }
    }
  }
}

.title-error {
  padding-top: 20px;
  padding-bottom: 14px;
  font-family: 'FuturaStd-Book';
  font-size: 27px;
  line-height: 21px;
  color: #232525;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text-error {
  margin: 0 auto;
  padding-top: 25px;
  font-family: 'FuturaStd-Book';
  font-size: 19px;
  line-height: 24px;
  color: $text-color;
  text-align: center;
  letter-spacing: 1px;
}

.site {
  max-width: 300px !important;
  padding: 10px;
  font-family: 'FuturaStd-Book';
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #f3f3f3;

  li {
    margin-left: 35px;
    list-style-type: disc;
  }

  ul {
    margin-left: 15px;
  }
}

.site a:hover {
  text-decoration: underline;
}

.space {
  padding-bottom: 40px;
}
