
.art-intro {
  max-width: 700px;
  margin: auto;
  padding: 15px;
  p {
    font-family: $main-font-light;
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
    text-align: center;
    letter-spacing: 1px;
  }
}
.saga-art {
  display: block;
  @media (min-width: $screen-md-min) {
    display: flex;
  }
  .text-center-align {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .content {
    position: relative;
    width: 100%;
    margin: 4% auto;
    @media (min-width: $screen-md-min) {
      width: 62%;
      margin: 8% auto;
    }

    h1 {
      padding-bottom: 30px;
      font-family: $main-font-book;
      font-size: 30px;
      color: $grey-color;
      text-transform: uppercase;
      @media (min-width: $screen-md-min) {
        padding-bottom: 60px;
        font-size: 40px;
      }
    }

    h5 {
      padding-bottom: 30px;
      font-family: $main-font-book;
      font-size: 14px;
      color: $grey-color;
      text-transform: uppercase;
      letter-spacing: 2px;
      @media (min-width: $screen-md-min) {
          padding-bottom: 60px;
      }
    }

    p {
      font-family: $main-font-light;
      font-size: 14px;
      line-height: 24px;
      color: $text-color;
      letter-spacing: 1px;
    }

    a {
      margin-top: 40px;
    }
  }
  &.family {
    .content {
      h1 {
        padding-bottom: 20px;
        font-size: 30px;
      }
      position: relative;
      width: 100%;
      margin: 1% auto;
      @media (min-width: $screen-md-min) {
        width: 98%;
        margin: 3% auto;
      }
  }
}
}


.art-events {
  padding: 55px 0 0;
  @media (max-width: 767px) {
    padding: 20px 0 0;
  }
  h1 {
    padding-bottom: 35px;
    font-family: $main-font-book;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media (min-width: $screen-sm-min) {
      padding-top: 28px;
      font-size: 20px;
      line-height: 38px;
    }
    span {
      display: block;
      font-size: 14px !important;
    }
  }
  .item {
    padding: 0 0 55px;
    color: #232525;
    @media (max-width: 767px) {
      padding: 0 0 40px;
    }

    img {
      width: 100%;
    }

    h2 {
      padding-top: 35px;
      font-family: $main-font-book;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      @media (min-width: $screen-sm-min) {
        padding-top: 28px;
        font-size: 20px;
        line-height: 38px;
      }
    }

    h3 {
      padding-top: 15px;
      font-family: $main-font-light;
      font-size: 16px;
      @media (min-width: $screen-sm-min) {
        padding-top: 15px;
        font-size: 18px;
      }
    }

    p {
      width: 100%;
      height: auto;
      padding-top: 15px;
      font-family: $main-font-light;
      font-size: 14px;
      line-height: 24px;
      color: $text-color;
      letter-spacing: 1px;
      @media (min-width: $screen-sm-min) {
        width: 85%;
        min-height: 205px;
        padding-top: 24px;
        font-size: 12px;
      }
    }

    .extra-padding {
      padding: 20px 0 0;
    }

    .button-common {
      display: inline-block;
      padding: 15px 30px;
      font-family: $main-font-medium;
      font-size: 12px;
      color: #232525;
      letter-spacing: 2px;
      border: solid 1px #232525;
      transition: all .4s;

      &:hover {
        color: #fff;
        background-color: #232525;
      }

      &:focus {
        color: #232525;
        background-color: #fff;
      }

      @media (min-width: $screen-sm-min) {
        letter-spacing: 5px;
      }
    }
  }
}


.mt-40 {
  margin-top: 40px;
}
