<script type="text/javascript">
  
  var showCPDelay = 12000; //2000;
  var openedSessionLength = 60 * 60 * 1 * 1000; //1 hour after seeing the "open" for the first time
  var closedSessionLength = 60 * 60 * 24 * 1000 //24 hours after closing the session
  
  var locale = 'en'
  let path = window.location.pathname
  var locales = ['fr','it', 'es', 'de', 'zh']
  for(var i=0,ii=locales.length;i<ii;i++) {
    var l = locales[i]
    if (path.startsWith("/"+l+"/")) {
      locale = l
    }
  }
  //TTWeb.Analytics.trackEvent("")
  

  function noCp() {
    //$(".special-banner-bar .content").show();
    var script = document.createElement('script');
    script.src = "//cdn.hotelchamp.com/app/launcher/0uGxjVM4pX.js";
    document.head.appendChild(script);     
  }
  
  if (locale !== 'en') {
    noCp();    
  } else {
    var bookingWidget = new TTWeb.Booking({
      showRateCalendar: true,
      showOfferCode: true      
    });

    function showBookingWidget() {
      bookingWidget.showWidget();
    }
  
    var noCpName = "No-CP";
    var cpName = "CP"
    var assignment = TTWeb.AbTest.assignUser("CPvsNo-CP", cpName, noCpName)
    if (assignment == noCpName) {
      // Set up No-CP
      noCp()
    } else {
      // Launch CP
      // 1. set up content
      var formatter = new Intl.NumberFormat('en-US', {
        minimumFractionDigits: 0,
        maximumFractionDigits: 0
      })
      var liveRate = new TTWeb.LiveRate();
    
    
    
      var resumeSearchHTML = new TTWeb.ResumeSearch();
      //if (UserData.)
    
      var bookingSearch = new TTWeb.BookingSearch(TTWeb.UserData.globalSearch)
    
      var rateCompare = new TTWeb.RateCompare();
      var otaTablePromise = rateCompare.getOTATable();
      var resumeSearchPromise = resumeSearchHTML.getSearchRatesHtml();
      var liveRatePromise = liveRate.getCrossOutRate(bookingSearch.reztripParams)
    
    
      Promise.all([otaTablePromise, resumeSearchPromise, liveRatePromise]).then(function(vals) {
      
        var lrResp = vals[2];
        var ratesHtml = "";
        var lowestRateRoom = lrResp.lowestRateRoom;
        var lowestRateRoom = lrResp.lowestRateRoom;

        if (lowestRateRoom && lowestRateRoom.rateFound) {
          ratesHtml = "<span class=\"ttweb-resume-search-widget__lowestcost__crossout\">" + TTWeb.Config.defaultCurrencySymbol + formatter.format( lowestRateRoom.originalRate) + "</span>" + "<span class=\"ttweb-resume-search-widget__lowestcost__actual\">" + TTWeb.Config.defaultCurrencySymbol + formatter.format(lowestRateRoom.discountedRate) + "</span>";
        }
      
        var header = "<div class='cp-top'><div class='cp-lowestrate'>"+ratesHtml+"</div><div class='cp-header'>Lowest Price, Guaranteed</div><div class='cp-subheader'>Sample rate for tonight</div></div>";
      
      
        var button ='<a class="button" href="'+bookingSearch.reztripBookingUrl+'">Book Now</a>';
        var widgetButton = '<a class="button" onClick="showBookingWidget()">Book Now</a>';
        if (TTWeb.UserData.globalSearchEmpty) {
          button = widgetButton;
        }
        
        var otaTable = vals[0];
        var showCP = true
        if (otaTable == '') {
          showCP = false
        }
      
      
        if (showCP) {
          $(".special-banner-bar").html("<div class='special-banner-bar__brg'>"+header + otaTable + widgetButton + "</div>")
          $(".caption-price").show();
          TTWeb.Analytics.trackEvent("CPInteraction", "BRGResponse", "available");                
          
          var viewWidth = $(window).width();
          if (viewWidth > 480) {
            var overlay = new TTWeb.GradientModalPopup({
              header: header,
              body: otaTable,
              footer: vals[1] + button
            });
            window.overlay = overlay;
            overlay.onHide(function() {
              TTWeb.UserData.saveInStorage("ClosedCP", true, closedSessionLength);
              TTWeb.Analytics.trackEvent("CPInteraction", "GradientModal", "dismissed")
            })
            overlay.onShow(function() {
              TTWeb.UserData.saveInStorage("ShownCP", true, openedSessionLength);
              TTWeb.Analytics.trackEvent("CPInteraction", "GradientModal", "shown")
            })
            setTimeout(() => {
              //
              if (!TTWeb.UserData.fetchFromStorage("ClosedCP")  && !TTWeb.UserData.fetchFromStorage("ShownCP") && !overlay.isShown()) {
                overlay.show();
                $(".ttweb-resume-search-widget__change-dates-row, .ttweb-resume-search-widget__date-row").click(showBookingWidget);
      
              }
            }, showCPDelay)
            
          }
          
        } else {
          //$(".special-banner-bar .content").show();          
          TTWeb.Analytics.trackEvent("CPInteraction", "BRGResponse", "notAvailable")          
        }
      
      });
    }      
  }
  

</script>

