<script type="text/javascript">
  $(document).ready(function() {
    var lim = 4;
    var windowSize = $(window).width();
    if (windowSize >= 1200) {
      lim = 5;
    }
    var instaurl = 'https://api.instagram.com/v1/users/4937335263/media/recent/?access_token=4937335263.1677ed0.f77d1fbfe992460280c86b54298dbe90&callback=?';
    $.ajax({
      url: instaurl,
      dataType: "jsonp",
      success: function(response) {
        setTimeout(function() {
          $.each(response.data, function(i, item) {
            if (i + 1 <= lim) { //i starts from 0
              $('#instafeed').append(' <li style="background-image: url(' + item.images.standard_resolution.url + ');"><a href="' + item.link +
                '" target="_blank"><div class="bg"></div><div class="icons"><span><i class="fa fa-heart-o" aria-hidden="true"></i>' + item.likes.count + ' <i class="fa fa-comment-o" aria-hidden="true"></i>' + item.comments.count +
                '</span></div></a></li>');
            }
          });
        }, 1000);
      }
    });
  });
</script>
