---
layout: default
---

{% assign room = page %}

{% assign item = site.data._models.rooms  %}
{% for p in item %}
  {% if p.url_friendly_name == room.url_friendly_name %}
    {% assign pInd = forloop.index0 | minus: 1 %}
    {% assign nInd = forloop.index0 | plus: 1 %}
    {% if forloop.first != true %}
      {% assign prevItemTitle = item[pInd].title %}
      {% assign prevItemUrl = item[pInd].url_friendly_name %}
    {% endif %}
    {% if forloop.last != true %}
      {% assign nextItemTitle = item[nInd].title %}
      {% assign nextItemUrl = item[nInd].url_friendly_name %}
    {% endif %}
  {% endif %}
{% endfor %}

<section class="container-fluid no-padding">
  <div class="page-banner" style="background-image: url('/assets/images/rooms/guest-room-banner.jpg')">
    <h1 class="page-title" tabindex="0">{{room.title}}</h1>
  </div>
</section>

<section>
  <ul class="gallery-nav">
    {% if prevItemUrl %}
      <li><a href="/rooms/{{prevItemUrl}}/">Previous Room</a></li>
    {% endif %}
    <li><a href="/rooms/" class="active">{{room.title}}</a></li>
    {% if nextItemUrl %}
      <li><a href="/rooms/{{nextItemUrl}}">Next Room</a></li>
    {% endif %}
  </ul>
</section>

<section class="rd-row-1">
  <div id="rd-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      {% assign room_images = room.room_images %}
      {% for image in room_images %}
        <div class="item {% if forloop.index == 1 %} active {% endif %}" role="option" style="background-image: url('{{image.url_large}}')">
          <div class="rdc-car-con">
            <h3 class="sub-title" tabindex="0">Luxury Redefined</h3>
            <h2 class="title" tabindex="0">{{room.title}}</h2>
            <div class="spacing"><a class="button-common-2" href="{{room.book_now_link}}" target="_blank">Book this room</a></div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="r-info">
  <div class="container no-padding">

    <div class="col-md-6 no-padding -left">

      <div class="con-1">
        <h2 class="title" tabindex="0">Room Information</h2>
        <h3 class="sub-title" tabindex="0">{{room.room_size}} <span>FT<sup>2</sup></span></h3>
        <div class="des-wrap">
          <div class="details-page-description" tabindex="0">
            {{room.long_info}}
          </div>
        </div>
        <div class="spacing"><a class="button-common-2" href="/contact/">Contact Us</a></div>
      </div>

      <div class="con-2"><img src="{{room.banner_image.url}}" alt="{{room.banner_image.alt}}"></div>

    </div>

    <div class="col-md-6 no-padding -right">

      <div class="con-3">
        <img src="/assets/images/rooms/guest-room-con-1.jpg" alt="Take a visual Journey">
        <div class="text">
          <h2 class="title" tabindex="0">Take a visual Journey</h2>
          <div class="spacing"><a class="button-common-2 -white" href="/gallery/">View Gallery</a></div>
        </div>
      </div>

      <div class="con-4">

        <div class="col-sm-6 con-4-1">
          <div class="list" tabindex="0">
            {{room.amenities}}
          </div>
        </div>

        <div class="col-sm-5 con-4-2">
          <div>
            <div class="add-1" tabindex="0">ENJOY THE FOLLOWING<span class="nl">PRIVILEGES</span></div>
            <div class="add-2" tabindex="0">Room<span class="nl">Amenitites</span></div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>

<section class="rooms-section">
  <div class="container">
    <div class="col-md-4 no-padding">
      <div class="new-caption-area" id="roomscroll" class="carousel slide" data-ride="carousel">
        <p tabindex="0">VIEW MORE LUXURIOUS ROOMS &amp; SUITES</p>
        <div class="carousel-controls">
          <a class="left nav-control" href="#rooms-carousel" data-slide="prev" title="Previous"></a>
          <a class="right nav-control" href="#rooms-carousel" data-slide="next" title="Next"></a>
        </div>
        <div class="carousel-inner" role="listbox">
          {% assign rooms = site.data._models.rooms | sort: "order" %}
          {% for singleroom in rooms %}
            <div class="item {% if forloop.first %} active {% endif %}" role="option">
              <h3 tabindex="0" tabindex="0" >{{singleroom.title}}</h3>
              <div class="links">
                <a ng-href="rooms/{{singleroom.url_friendly_name}}/" class="button-common-2">VIEW THIS ROOM</a><br>
                <a href="/rooms/" class="button-common-2">VIEW ALL ROOMS</a>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>

    <div class="col-md-8 no-padding">
      <div class="rooms-carousel">
        <div id="rooms-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for singleroom in rooms %}
              <div class="item {% if forloop.index == 1 %} active {% endif %}">
                <img alt="{{singleroom.title}}" src="{{singleroom.banner_image.url}}" class="width-full">
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="loc-cta" style="background-image: url(/assets/images/rooms/rooms-cta.jpg);">
  <div class="container-fluid no-padding">
    <div class="cta">
      <h3 tabindex="0">PROXIMITY AT ITS BEST</h3>
      <div class="cta-logo"><a href="/"><img src="/assets/images/logo.png" alt="The Sagamore Miami Beach Hotel"/></a></div>
      <div class="btn-holder text-center"><a href="https://www.myhotelreservation.net/b/hamiasag/HAMIASAG/" target="_blank" class="button-common">Book Your Stay</a></div>
    </div>
  </div>
</section>

{% include offers-carousel.html %}
